/* Text colors */

.whiteColor {
  color: #ffffff;
}

.textColor {
  color: #2B2E43;
}

.grayColor {
  color: #767676;
}

.greenColor {
  color: #68c700;
}

/* Background colors */

.whiteBackground {
  background-color: #fff;
}

.blueBackground {
  background-color: #0a7bff;
}
